* {
    margin: 0;
    padding: 0;
}

.parent {
    width: 98%;
    margin: auto;
    display: flex;
    border: 5px solid blue;
    flex-basis: 100px;
    height: 150px;
}

.parent div {
    border: 1px solid black;
    width: 250px;
}
