body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    background-color: #142880;
    top:0;
    padding: 7px 0;
}

.header {
    align-items: center;
    width: 95%;
    margin: auto;
    display: flex;
    color: white;
}

.header .logo {
    width: 50%;
}

.header h1 {
    margin: 0;
}

.header .controls {
    width: 50%;
    text-align: right;
}

.header .controls a {
    text-decoration: none;
    color: white;
}

.header .controls a:hover {
    color: #1919e0;
    transition: .2s;
}

main {
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.profile {
    width: 20%;
    margin: 15px auto;
}

.profile img {
    width: 100%;
    margin-bottom: 0;
}

.profile .profile_content {
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    padding: 0 15px;
    margin-top: 0;
}

.profile .profile_content .profile_info h2 {
    margin: 0;
}

.profile .profile_content .profile_info .edit_profile a {
    display: none;
}

.profile .profile_content .profile_info h2:hover .edit_profile a {
    float: right;
    display: inline;
    text-decoration: none;
    color: #0000a9;
    font-size: 80%;
}

.profile .profile_info p {
    color: #484848;
    text-align: center;
}

.profile .my_items {
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    margin-top: 0;
}

.profile .my_items ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.profile .my_items ul li {
    padding: 10px 15px;
    border-top: 1px solid #d3d3d3;
    margin-left: 0;
    font-size: 110%;
}

.profile .my_items ul li a {
    text-decoration: none;
    color: #1f1f1f;
}

.profile .my_items ul li a:hover {
    text-decoration: none;
    color: #0000a9;
}


.content {
    width: 50%;
    margin: 15px auto;
}

.content .post:first-child h3 {
    margin-top: 0;
}

.content .post:first-child {
    margin-top: 0;
}

.content .post {
    margin-top: 45px;
}

.content .post img {
    width: 100%;
}

.content .post p {
    width: 100%;
}

.content .post .view_more {
    background-color: #0000a9;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    border: #0000a9;
}

.content .post .view_more:hover {
    background-color: #1919e0;
    cursor: pointer;
    transition: .5s;
}

.recommendations {
    width: 20%;
    margin: 15px auto;
}

.recommendations_items {
    border: 1px solid #d3d3d3;
}

.recommendation:first-child {
    border-top: 0;
}

.recommendation {
    padding: 15px 15px;
    border-top: 1px solid #d3d3d3;
}

.recommendation a {
    text-decoration: none;
    color: black;
}

.recommendation h4 {
    margin: 0;
}

.recommendation h4 .recommendation_time {
    float: right;
    color: #5d5d5d;
    font-weight: lighter;
}

.recommendation .recommendation_source {
    color: #5d5d5d;
}